{% set quote = quote %}
{% set author = author %}
{% set source = source %}

<blockquote class="blockquote">
	<p class="mb-0">{{quote}}</p>
	<footer class="blockquote-footer">{{author}}
		<cite title="Source Title">{{source}}</cite>
	</footer>
</blockquote>
