{% set module = module %}
<section class="fullwidth padding-top-75 padding-bottom-70" data-background-color="#f9f9f9">
	<div class="container">

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h3 class="headline centered headline-extra-spacing">
					<strong class="headline-with-separator">{{module.heading}}</strong>
					{% if module.subheading %}<span class="margin-top-25">{{module.subheading }}</span>{% endif %}
				</h3>
			</div>
		</div>

		<div class="row icons-container">
		{% include 'segment/infoCard.twig' with { 
			'cards' : module.cards.all(),
		} %}
		</div>
	</div>
</section>