{% set module = module %}
{% set headingBold = module.heading|split(' ') %}
<!-- Intro -->
		<section class="bg-white"> <div class="container-fluid">
			<br>
			<h1 class="text-center dark-grey-text pb-3 mt-5 pt-5">
				<strong>{{headingBold[0]}}</strong> {{headingBold[1]}}</h1>

			<p class="grey-text text-center mb-4 text-uppercase spacing">{{module.subheading}}
			</p>

			<!-- Grid row -->
			<div
				class="row flex-center">

				<!-- Grid column -->
				<div class="col-md-10 col-xl-5">

					<p class="grey-text text-center" style="font-size: 13.92px">
						<em> {{module.description}}	 </em></p>
					<br><br>
				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row -->

		</div>
	</section> 
	<!-- Intro --> 