<div id="singleListingMap-container">
	<div id="singleListingMap" data-latitude="{{lat}}" data-longitude="{{lng}}" data-map-icon='{{mapIcon}}'></div>
	<a href="#" id="streetView">{{accommodations.streetViewText}}</a>
</div>