{% set module = module %}
<div class="container text-image margin-bottom-100 margin-top-60">
	<div class="row">
		<div class="col-sm-8 big-font margin-top-40">
			{{module.contentText}}
		</div>
		<div class="col-sm-4 text-center margin-top-40">
			<div class="blog-compact-item">
				{% set image = module.image.one() %}
				<img src="{{image.url}}" alt="{{image.title}}">
				<div class="blog-compact-item-content">
					{% if module.imageCaption %}<h3>{{module.imageCaption|raw}}</h3>{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>