{% set heading = module is defined ? module.heading : heading %}
<div id="titlebar" class="margin-bottom-0">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>{{heading}}</h2>
			</div>
		</div>
	</div>
</div>